
<div>
    <input [attr.id]="'file_upload_' + _categoria" type="file" ng2FileSelect [uploader]="uploader"
           accept=".xml,.txt,.jpg,.jpeg,.gif,.png,.pdf,.doc,.docx,.xls,.xlsx"/>

    <paper-button raised [disabled]="uploader.isUploading" id="seleccionar-btn" (click)="seleccionar()" ><iron-icon icon="search"></iron-icon> Seleccionar</paper-button>
    <span id="seleccion-span">{{uploader.queue[0]?.file?.name}}</span>
    <paper-button raised id="cancelar-btn" [disabled]="disableCancenlar()" (click)="cancelar()"><iron-icon icon="clear"></iron-icon>Cancelar</paper-button>
    <paper-button raised disabled id="subir-btn" [disabled]="disableSubir()" (click)="subir()" onclick="document.querySelector('#documentoUploaded').show();"><iron-icon icon="file-upload"></iron-icon>Subir</paper-button>

</div>

<paper-progress indeterminate [disabled]="!uploader.isUploading"  bottom-item></paper-progress>

